/* Header (banner img) */
header {
    display: grid;
    grid-template-columns:  1fr;
    justify-items: center;
    background-color:  #12204A;
}

/* Navigation */
nav {
    padding: 10px 20px;
    background-color: #1a2e69;
    text-align: center;
}
nav a {
    color: #c8e0f8;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}
nav a:hover {
    color: #3d8ef0;
}

/* Header 1 */
h1 {
    font-size: 40px;        
    font-weight: bold;        
    color: #1a2e69;           
    text-align: center;       
    margin-top: 10px;
    margin-bottom: 5px;
}

/* Description under header centering*/
#sub-h1 {
    text-align: center;
}

/* Article break spacing */
#article-break {
    margin-top: 15px;
}

/* Figure on right */
.page{
    display: flex;
    gap: 2rem;
    justify-content: flex-start;
}
.container img {
    border: 5px solid #12204A;
    width: 575px;
    height: auto;
}
.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 150px;
}

/* Entire article */
article {
    margin-left: 10px;
    flex: 2;
}

/* Sub titles */
h2 {
    font-size: 30px;
    margin-top: 10px;
}

/* List structure */
dl {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}

/* List formatting */
ul {
    list-style: none;
}
ul ul{
    list-style: disc;
    margin-left: 20px;
}
dt {
    font-weight: bold;
    font-size: 18px;
    margin-top: 5px;
}
#quoteheading{
    margin-top: 5px;
}

/* Table */
table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
th, td {
    border-color: #000000;
    border: 1px solid;
    padding: 5px;
}
table caption {
    font-weight: bold;
}


/* Footer to bottom */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
}

/* Footer formatting */
footer {
    text-align: center;
    padding: 15px;
    background-color: #1a2b5e;
    color: #c8e0f8;
    clear: both; 
}
footer a {
    color: #3d8ef0;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
    color: whitesmoke;
}