/* General reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f4ff;
    color: #1a2b5e;
}

 nav {
    text-align: center;
    background-color: #1a2e69;
}
nav a {
    margin: 0 15px;
    color: #ffffff;
    font-weight: bold;
} 
header{
    display: grid;
    grid-template-columns:  1fr;
    justify-items: center;
}
